
@{
    ViewBag.Title = "Index";
}

<div class="card mb-3 shadow">
    <div class="card-header">
        <h5 class="text-primary">
            DOC
        </h5>
    </div>
    <div class="card-body">
        <div class="form-group row mb-2">
            <label for="" class="col-sm-2 col-form-label form-control-sm">DOC ID</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="" placeholder="">
            </div>
        </div>
        <div class="form-group row mb-2">
            
        </div>
    </div>
</div>

<div class="card mb-3 shadow">
    <div class="card-header">
        <h5 class="text-primary">
            DOC Information
        </h5>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group row mb-2">
                <label for="" class="col-sm-2 col-form-label form-control-sm">DOC Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="" placeholder="">
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="" class="col-sm-2 col-form-label form-control-sm">Declaration Statement</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="" placeholder="">
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="" class="col-sm-2 col-form-label form-control-sm">Directive</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="" placeholder="">
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="" class="col-sm-2 col-form-label form-control-sm">Declaration Statement</label>
                <div class="col-sm-10">
                    <div class="d-flex flex-row">
                        <div class="pe-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">
                                    RED/RTTE
                                </label>
                            </div>
                        </div>
                        <div class="pe-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">
                                    IECEX
                                </label>
                            </div>
                        </div>
                        <div class="pe-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">
                                    ENERGY
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="" class="col-sm-2 col-form-label form-control-sm">DOC Release Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="" placeholder="">
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="" class="col-sm-2 col-form-label form-control-sm">DOC Sign Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="" placeholder="">
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="" class="col-sm-2 col-form-label form-control-sm">DOC Sign Location</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="" placeholder="">
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="" class="col-sm-2 col-form-label form-control-sm">DOC Expiring Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="" placeholder="">
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="" class="col-sm-2 col-form-label form-control-sm">Radio SR ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="" placeholder="">
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="" class="col-sm-2 col-form-label form-control-sm">Internal Product Name & Radio Tanapa Number (For reference only)</label>
                <div class="col-sm-10">
                    <textarea class="form-control form-control-sm" style="height: 100px"></textarea>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="" class="col-sm-2 col-form-label form-control-sm">Object of the Declaration: Product (Family)</label>
                <div class="col-sm-10">
                    <textarea class="form-control form-control-sm" style="height: 100px"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>