
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<div class="mb-3">
    <input type="text" class="form-control" name="daterange" value="01/01/2018 - 01/15/2018" />
    <button type="button" class="btn btn-primary" id="save">Save</button>
</div>

@section scripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script>
        $(function () {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left'
            }, function (start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
        });

        $('#save').click(function () {
            alert("X");
            alert(daterangepicker.start.format('YYYY-MM-DD'));
        });
    </script>
}