
@{
    ViewBag.Title = "Index5";
}

<h2>Index5</h2>

@*<table>
    <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
    </tr>
    @for (int i = 0; i < 10; i++)
    {
        <tr>
            <td>Alfreds Futterkiste</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Centro comercial Moctezuma</td>
            <td></td>
            <td></td>
        </tr>
    }
</table>*@